body {
    font-family: Arial, sans-serif;
    background-color: rgb(169, 216, 40);
  }
  
  h1 {
    color: rgb(5, 221, 255);
    text-align: center;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    color: #0f0fd6;
    margin-bottom: 30px;
  }
  ul {
    list-style-type: square;
    margin-left: 25px;
  }
  ol {
    list-style-type: lower-roman;
    counter-reset: my-counter;
  }
  ol li {
    counter-increment: my-counter;
    content: counter(my-counter) ". ";
  }
  
  #list1 {
    font-size: 36px;
  color: blue;
  }
  